<div class="container">
    <div class="conteinerText">
        <span> 
            <strong>
                {{ titulo | uppercase }} 
            </strong>
        </span>
    </div> 
   
    <div class="conteinerUser">

        <div class="user__container">
            <img 
            class="icon-user"
            src="https://img.freepik.com/foto-gratis/hombre-guapo-piel-brillante-posando_23-2149396129.jpg" 
            alt="ico-user">
            <span class="title_name">Jose angel Alvarez</span>
        </div>
        
    </div>

 
</div>