<div class="container">

    <div class="conteinerUser">

        <img 
            src="https://cdn-icons-png.flaticon.com/512/3602/3602145.png" 
            alt="icon-noti">
        <img 
            src="https://cdn-icons-png.flaticon.com/512/9434/9434435.png" 
            alt="icon-tools">
        <img 
            src="https://cdn-icons-png.flaticon.com/512/2460/2460940.png" 
            alt="icon-email">

        <div class="line-verticle"></div>

        <img 
            class="icon-user"
            src="https://img.freepik.com/foto-gratis/hombre-guapo-piel-brillante-posando_23-2149396129.jpg" 
            alt="ico-user">
    </div>

    <hr class="line">
    <div class="conteinerText">
        <span> 
            <strong>
                {{ titulo | uppercase }} 
            </strong>
        </span>
    </div> 
</div>