<table >
    <thead>
        <tr>
            <th class="control-table control-table-number" >#</th>
            <th class="control-table control-table-nombre " >Nombres y apellidos</th>
            <th class="control-table control-table-marca" >dirreccion</th>
            <th class="control-table control-table-provedor" >correo</th>
            <th class="control-table control-table-categoria" >numero</th>
        </tr>
    </thead>

    <tr *ngFor="let person of personList.slice(currentIndex,currentIndex + pageSize); let i=index">
        <td>{{ currentIndex +  i + 1 }}</td>
        <td> {{ person.nombre | uppercase }} </td>
        <td>{{ person.direccion }}</td>
        <td> {{ person.correo }} </td>
        <td> {{ person.numer }}</td>
    </tr>
  
   </table> 
    <hr>
   <div class="container-btn">
        
        <button 
            class="control-btn"
            (click)="previous()"
            [disabled]="currentIndex === 0"
        >
            <- 
        </button>

        <button 
            class="control-btn"
            (click)="next()"
            [disabled]="currentIndex + pageSize >= personList.length"
        >
            -> 
        </button>
   </div>
