<table >
    <thead>
        <tr>
            <th class="control-table control-table-number" >#</th>
            <th class="control-table control-table-nombre " >Nombres y apellidos</th>
            <th class="control-table control-table-marca" >dirreccion</th>
            <th class="control-table control-table-provedor" >correo</th>
            <th class="control-table control-table-categoria" >numero</th>
        </tr>
    </thead>

    <tr *ngFor="let person of personList; let i=index">
        <td>{{ i + 1 }}</td>
        <td> {{ person.nombre }} </td>
        <td>{{ person.direccion }}</td>
        <td> {{ person.correo }} </td>
        <td> {{ person.numer }}</td>
    </tr>
  
   </table> 
    <hr>
   <div class="container-btn">
        <button class="control-btn"> <- </button>
        <button class="control-btn"> -> </button>
   </div>
