<shared-user-conteiner [titulo]=" titulo "></shared-user-conteiner>

<div class="container">
    <div class="containr-form">
        <add-product (addProductFomr)="aggProduct($event)" ></add-product>
    </div>

    <div class="container-table">
        


            @if (  producList.length) {
                <list-product
                (oneDelete)="ondeleteUser($event)"
                [productList]="producList"></list-product>

            } @else {
                <span>
                    no hay usuarios en la tabla
                </span>
                    
            }
    </div>

</div>