
.container{
    display: flex;
    justify-content: space-between;
}


.containr-form{
    width: 45%;
    background-color: #212631;
    padding: 30px;
    margin: 10px;
    border-radius: 5px;
    color: black;
}

.container-table{
    background-color: #ffffff;
    border-radius: 5px;
} 

