
<div class="container">
    <div class="containr-form">
        <span> Formulario </span>
        <form >
            <input class="control control-nombre" type="text" placeholder="Nombre del Producto" >
            <input class="control control-marca" type="text" placeholder="Marca del producto" >
            <input class="control control-provedor" type="text" placeholder="Provedor" >
            <input class="control control-categoria" type="text" placeholder="Categoria" >
            <input class="control control-cantidad " type="number" placeholder="Cantidad" >
            <button >
                Agregar Producto
            </button>
        </form>
    </div>

    <div class="container-table">
       <table >
        <thead>
            <tr>
                <th class="control-table control-table-number" >#</th>
                <th class="control-table control-table-nombre " >Nombre</th>
                <th class="control-table control-table-marca" >Marca</th>
                <th class="control-table control-table-provedor" >Provedor</th>
                <th class="control-table control-table-categoria" >Categoria</th>
                <th class="control-table control-table-cantidad" >Cantidad</th>
            </tr>
        </thead>
    
        <tr>
            <td>1</td>
            <td>John Doe</td>
            <td>35</td>
            <td>Engineer</td>
            <td>New York</td>
            <td>johndoe.com</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Jane Smith</td>
            <td>28</td>
            <td>Designer</td>
            <td>Los Angeles</td>
            <td>janesmith.com</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Michael Brown</td>
            <td>42</td>
            <td>Manager</td>
            <td>Chicago</td>
            <td>michaelbrown.com</td>
        </tr>
        <tr>
            <td>4</td>
            <td>John Doe</td>
            <td>35</td>
            <td>Engineer</td>
            <td>New York</td>
            <td>johndoe.com</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Jane Smith</td>
            <td>28</td>
            <td>Designer</td>
            <td>Los Angeles</td>
            <td>janesmith.com</td>
        </tr>
        <tr>
            <td>6</td>
            <td>Michael Brown</td>
            <td>42</td>
            <td>Manager</td>
            <td>Chicago</td>
            <td>michaelbrown.com</td>
        </tr>
        <tr>
            <td>7</td>
            <td>John Doe</td>
            <td>35</td>
            <td>Engineer</td>
            <td>New York</td>
            <td>johndoe.com</td>
        </tr>
        <tr>
            <td>8</td>
            <td>Jane Smith</td>
            <td>28</td>
            <td>Designer</td>
            <td>Los Angeles</td>
            <td>janesmith.com</td>
        </tr>
        <tr>
            <td>9</td>
            <td>Michael Brown</td>
            <td>42</td>
            <td>Manager</td>
            <td>Chicago</td>
            <td>michaelbrown.com</td>
        </tr>
        <tr>
            <td>10</td>
            <td>Michael Brown</td>
            <td>42</td>
            <td>Manager</td>
            <td>Chicago</td>
            <td>michaelbrown.com</td>
        </tr>
       </table> 
        <hr>
       <div class="container-btn">
            <button class="control-btn"> <- </button>
            <button class="control-btn"> -> </button>
       </div>

       
    </div>

</div>
