<shared-user-conteiner [titulo]=" titulo "></shared-user-conteiner>

<div class="container">
    <div class="containr-form">
        <add-product 
            (addProductFomr)="aggProduct($event)" 
            (updateUserEvent)="productNewUpdate($event)"
            [productByUp]="productUpdate"
        ></add-product>
    </div>

    <div class="container-table">
            @if (  producList ) {
                <list-product
                [productList]="producList"
                (oneDelete)="ondeleteUser($event)"
                (productUpdate)="byproductUpdateCharacter($event)"
                (productProductName)="searchProductByname($event)"
                ></list-product>

            } @else {
                <span>
                    no hay usuarios en la tabla
                </span>
                    
            }
    </div>

</div>