span {
    font-size: 22px;
    margin: 20px;
    color: white;
    
}

.text-validator{
    font-size: 12px;
    color: rgba(255, 0, 0, 0.603);
    padding: 0px;
    margin-left: 25px;
}

.control{
    width: 86%;
    background: #6b778549;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid #6b778549;
    color: white;
    margin: 15px 15px 5px 15px;
}


.btn-agg {
    display: flex;
    justify-content: center;
    width: 50%;
    background: #3399ff;
    border: none;
    padding: 12px;
    color: rgb(255, 255, 255);
    margin: 20px 6px 5px 20px;
    font-size: 16px;
    border-radius: 5px;

}

.btn-agg:hover {
    background: #1b5188;
}


.contaner-btn{
    display: flex;
    justify-content: end;
}

.btn-Update{
    background: #21f0b2;
    width: 15%;
    border: none;
    padding: 12px;
    color: rgb(255, 255, 255);
    margin: -48px 6px 5px 20px;
    font-size: 16px;
    border-radius: 5px;
}

.btn-Update:hover{
    background: #12805f;
}