<header class="header-contaner">

       <div class="container_info">
           <h1>Empresa</h1>

       </div> 
       <hr>
        <div class="cotainer-menu">
            @for (item of menuItems; track $index) {
                <ul>
    
                   <li
                   [routerLink]=" [item.route]"
                   routerLinkActive="active" 
                   > <img [src]="item.icon" alt="icon"> <span class="tittle"> {{ item.title }} </span> </li>
                </ul>
            }
        </div>
</header>
