<shared-user-conteiner [titulo]=" titulo "></shared-user-conteiner>
<div class="container">

    <div class="container-cards">
        
        <!-- Hacer un componentes para las cartas -->

        <div class="card card-card1">
            <strong>
                economico
            </strong>
            <hr>
        </div>

        <div class="card card-card2">
            <strong>
                perdida
            </strong>
            <hr>
        </div>

        <div class="card card-card3">
            <strong>
                clientes
            </strong>
            <hr>
        </div>

        <div class="card card-card4">
            <strong>
                Total de productos
            </strong>
            <hr>
        </div>
        
    </div>

    <div class="container-panel">
        <div class="container-grafic">

            <div class="text-container">
                <h2>
                    <strong>Trafic</strong>
                </h2>
                <h6>
                    Date: 12/12/2024
                </h6>
            </div>

            <div class="grafic-container">
                    <!--  grafica   -->
            </div>

        </div>
    </div>

</div>