<shared-user-conteiner [titulo]=" titulo "></shared-user-conteiner>
<div class="container">

    <div class="container-cards">
        
        <components-cards></components-cards>
        
    </div>

    <div class="container-panel">
        <div class="container-grafic">

            <div class="text-container">
              
                @for (item of menuDash; track $index) {

                    <button 
                        class="btn-dash"
                        (click)=" diagramType(  item.type ) " >
                         {{ item.title }}
                    </button>
                }
                <hr>
                <div class="grafic-container">
                    @switch (itemMenu) {
                        @case ('line') {
                            <app-line-grafic></app-line-grafic>
                        }
                        @case ('pie') {
                            <app-pie-grafic></app-pie-grafic>
                        }
                    }
                  
                </div>
    

            </div>

            
            
        </div>
    </div>

</div>