<shared-user-conteiner [titulo]=" titulo "></shared-user-conteiner>

<div class="container">

    <div class="container-cards">
        
        <components-cards></components-cards>
        
    </div>


    <div class="container-panel">

        <div class="container__grid">
            
            <div class="content-grid container__line">
                <app-line-grafic></app-line-grafic>
            </div>

            <div class="content-grid container__pie">
                <app-pie-grafic></app-pie-grafic>
            </div>

            <div class="content-grid container__text">
                
            </div>

            <div class="content-grid container__text2">
                Nisi nisi dolore minim ex velit. Anim eiusmod voluptate nulla reprehenderit ut anim eu duis culpa. Commodo reprehenderit deserunt enim laborum ex magna exercitation. Nulla reprehenderit exercitation cillum veniam ea laboris mollit pariatur nulla. Adipisicing et eiusmod dolore pariatur consectetur eu est ut.
            </div>
        </div>


    </div>   
</div>
