.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    margin-left: -10px;
    margin-top: -8px;
}

.conteinerOne{
    background-color: rgb(49, 49, 224);
    flex: 1;
    padding-right: 15px;
    padding-left: 15px;
    width: 10%;
}

.conteinerTwo{
    background-color: gray;
    width: 15%;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
}

