
<div class="container">
    <div class="containr-form">
        <span> Formulario </span>
        <hr>
        <form [formGroup]="myForm" (ngSubmit)="onSave()">
            <input class="control control-id"           type="text"     formControlName="numero"       placeholder="Numeo de identificacion"          >
            <span class="containr-form text-validator" *ngIf="isValidField('numero')">
                {{ getFieldError('numero') }}
            </span>

            <input class="control control-nombre"       type="text"     formControlName="nombre"        placeholder="Nombres y apellidos"          >
            <span class="containr-form text-validator" *ngIf="isValidField('nombre')">
                {{ getFieldError('nombre') }}
            </span>

            <input class="control control-direccion"    type="text"     formControlName="direccion"        placeholder="direccion"        >
            <span class="containr-form text-validator" *ngIf="isValidField('direccion')">
                {{ getFieldError('direccion') }}
            </span>

            <input class="control control-correo"       type="text"     formControlName="correo"        placeholder="correo"       >
            <span class="containr-form text-validator" *ngIf="isValidField('correo')">
                {{ getFieldError('correo') }}
            </span>

            <input class="control control-numb"         type="text"   formControlName="numer"        placeholder="numero"       >
            <span class="containr-form text-validator"  *ngIf="isValidField('numer')">
                {{ getFieldError('numer') }}
            </span>

            <button type="submit">
                Agregar Producto
            </button>
        </form>
    </div>

    <div class="container-table">
       <table >
        <thead>
            <tr>
                <th class="control-table control-table-number" >#</th>
                <th class="control-table control-table-nombre " >Nombres y apellidos</th>
                <th class="control-table control-table-marca" >dirreccion</th>
                <th class="control-table control-table-provedor" >correo</th>
                <th class="control-table control-table-categoria" >numero</th>
            </tr>
        </thead>
    
        <tr>
            <td>1</td>
            <td>John Doe</td>
            <td>35</td>
            <td>Engineer</td>
            <td>New York</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Jane Smith</td>
            <td>28</td>
            <td>Designer</td>
            <td>Los Angeles</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Michael Brown</td>
            <td>42</td>
            <td>Manager</td>
            <td>Chicago</td>
        </tr>
        <tr>
            <td>4</td>
            <td>John Doe</td>
            <td>35</td>
            <td>Engineer</td>
            <td>New York</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Jane Smith</td>
            <td>28</td>
            <td>Designer</td>
            <td>Los Angeles</td>
        </tr>
        <tr>
            <td>6</td>
            <td>Michael Brown</td>
            <td>42</td>
            <td>Manager</td>
            <td>Chicago</td>
        </tr>
        <tr>
            <td>7</td>
            <td>John Doe</td>
            <td>35</td>
            <td>Engineer</td>
            <td>New York</td>
        </tr>
        <tr>
            <td>8</td>
            <td>Jane Smith</td>
            <td>28</td>
            <td>Designer</td>
            <td>Los Angeles</td>
        </tr>
        <tr>
            <td>9</td>
            <td>Michael Brown</td>
            <td>42</td>
            <td>Manager</td>
            <td>Chicago</td>
        </tr>
        <tr>
            <td>10</td>
            <td>Michael Brown</td>
            <td>42</td>
            <td>Manager</td>
            <td>Chicago</td>
        </tr>
       </table> 
        <hr>
       <div class="container-btn">
            <button class="control-btn"> <- </button>
            <button class="control-btn"> -> </button>
       </div>
       
    </div>
</div>