
<shared-user-conteiner [titulo]=" titulo "></shared-user-conteiner>
<div class="container">
    <div class="containr-form">
        <form-user 
            (updateUserEvent)="userNewUpdate($event)"
            (addUserFomr)="aggUser($event)" 
            [userByUp]="userUpdate"   >
        </form-user>
    </div>

    <div class="container-table">
        @if ( userList.length) {
            <list-user  
                [personList]="userList" 
                (oneDelete)="ondeleteUser($event)"
                (userUpdate)="byuserUpdateCharacter($event)"
                (searchUserId)="searchUserByID($event)"
            ></list-user>
        } @else {
            <span>
                no hay usuarios en la tabla
            </span>
                
        }
       
    </div>
</div>