
.container{
    display: flex;
    justify-content: space-evenly;
}


.containr-form{
    width: 45%;
    height: 20%;
    background-color: #212631;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    color: black;
}

 
.container-table{
    border-radius: 5px;
} 

.container-table span{
    font-size: 20px;
}

