.container{
    display: block;
    padding: 10px;
}

span {
    width: 80%;
    font-size: 22px;
    color: white;
}

.line{
    margin: 5px 0px;
    width: 90%;
    border: 1px solid white;
}
.container__grid {
    width: 98%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 25px;
    padding: 20px 0px;
}

.conteiner__control{
    display: flex;
    flex-direction: column;
}

.container__control__name{
    grid-column: span 4;
}

.container__control__marca{
    grid-column: span 2;
}
.container__control__provedor{
    grid-column: span 2;
}


.container__control__categoria{
   grid-column: span 3;
}



.control{
    background: #6b778549;
    border-radius: 5px;
    border: 1px solid #6b778549;
    color: white;
    padding: 10px;
    margin: 0px 7px;
}


.control-categoria option{
    background: #2d353c;
    font-weight: 400;
}


.text-validator{
    font-size: 12px;
    color: rgba(255, 0, 0, 0.603);
    padding: 3px 10px;
}


.conteiner__control__flex{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.btn-agg {
     width: 20%;
     background: #348FE2;
     border: none;
     padding: 10px;
     color: rgb(255, 255, 255);
     font-size: 16px;
     border-radius: 5px;
     margin: 0px 10px;
     cursor: pointer;
}

.btn-agg:hover {
    background: #1b5188;
}


.btn-Update{
    background: #21f0b2;
    justify-content: center;
    border: none;
    padding: 10px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-Update:hover{
    background: #12805f;
}

@media(max-width:650px){
    .container__grid{
        display: flex;
        flex-direction: column;
        width: 80%;
    }
    span{
        font-size: 15px;
    }
    .btn-agg{
        width: auto;
    }
    
}