/* modal.component.css */
.container-modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.486);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
  }
  
  .content-modal {
    width: 100%;
    
    max-width: 560px;
    padding: 20px;
    background-color: white;
    border-radius: 4px;
    color: black;
  }
  
  .content-modal h2 {
    margin-bottom: 15px;
  }

  .conten-info{
    background-color: #5f5d5d8a;
    padding: 10px;
    border-radius: 5px;
  }

  .conten-info div{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(50px, auto);
    align-items: center;
    padding: 5px;
    border-radius: 5px;
   
  }

 
.conten{
  background-color:#f8f8f8c9;
}
  .conte1{
    grid-column-start: span 2;
  } 

 .conte2{
    grid-column-start: span 2;
  }

  .conte3{
    grid-column-start: span 2;
  }

  .conte6{
    grid-column-start: span 2;
  }

  .conte10{
    background-color: rgba(250, 235, 215, 0.548);
  }  


  .content-modal .btn-cerrar {
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
  }
  
  .content-modal .btn-cerrar label {
    padding: 7px 7px;
    background-color: blue;
    color: white;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .line{
    border: 1px solid black;
    margin-bottom: 20px;
  }