
.container-cards{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 10px;
}
.card{
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    height: 100px;
    width: 200px;
    border-radius: 5px;
    padding: 10px;
    border: solid 2px rgba(0, 0, 0, 0.062);
    gap: 10px;
}
.card-card1{
    background-color: #348FE2;
}
.card-card2{
    background-color: #49B6D6;
}
.card-card3{
    background-color: #F59C1A;
}
.card-card4{
    background-color: #FF5B57;
}

span.card-inf {
    display: flex;
    justify-content: flex-end;
    font-size: 40px;
    color: white;
    text-shadow: 3px 2px 6px rgb(19, 18, 18);
}

.line{
    border: 1px solid white;
}